@{
    ViewData["Title"] = "Home Page";
}
<h1><marquee>Busca tus certificados en linea con tu DNI!!!</marquee></h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <form action="/Catalogo" method="post">
            <div class="form-outline">
                <input type="number" id="searchString" class="form-control" placeholder="Buscar" aria-label="searchString" name="searchString"/>
            </div>
        </form>
    </li>
</ul> 
